<!DOCTYPE html>
<html lang="en">
         <link rel="stylesheet" type="text/css" href="css/datasource1.css" />
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
    
    
    
    
    function call()
    {
       document.getElementById("validate").style.visibility = "visible";
    }
</script>

 

<body>
 

<div class="bg">
<img src="https://mehemmedisrayilzade.files.wordpress.com/2014/07/olimpia-300x200.jpg" alt="image" width="90" height="70"></div>
<b>Data > New Data Source</b><br><br><br>
<h3>Connect</h3>
<div ng-app="tofile" class="left">
    <b>To a File<br></b>
  <select multiple="multiple" size="3" 
    ng-model="model.file" 
    ng-options="" style="width:166px;">
  <option value="0">Excel</option>
  <option value="1">Text File</option>
  <option value="2">Acess</option>
</select>
<br>
<br>
<div ng-app="toserver" class="left">
      <b>To Server<br></b>
<select multiple="multiple" size="4" 
    ng-model="model.server" 
    ng-options="" style="width:166px;">
  <option value="0">MySQL Database</option>
  <option value="1" onclick="call()" >Microsoft SQL Database</option>
  <option value="2">PostgreSQL</option>
 <option value="3">Hortonworks Hadoop</option>
<option value="4">More servers…</option>
</select>

    <div id="validate" style="visibility: hidden" class="right" >
  <form>
   Server:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" ng-model="user.firstName"><br><br>
     Sign-in Details<br><br> <input type="radio" ng-model="user.signdetails" value="windows" />Use Windows Authentication(Preferred)<br><br>
    <input type="radio" ng-model="user.signdetails" value="user" />Use Specific Username And password <br /><br>
Username:&nbsp&nbsp
    <input type="text" ng-model="user.username"><br><br>
Password:&nbsp&nbsp&nbsp
    <input type="text" ng-model="user.password"><br>
  <pre>                            <button type="button" ng-click="" >NEXT</button></pre>
  </form>
  
</div>
</body>
</html>
