










div.right{
   position: absolute;
    right: 700px;
    top  : 190px;
}
.bg{background-color:#F2F2F2
}
  div.left{
   
   left: 20px;
  
}
button{
background-color:#31869B
}
b,h3{
color:#31869B
}